body{
    font-family: 'Prompt', sans-serif;
}
.truck{
    position: absolute;
}
.carbody{
    display: flex;
    align-items: flex-end;
}
.box{
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #EFEFEF;
    width: 150px;
    height: 100px;
}
.head{
    background-color: #CCE70B;
    height: 75px;
    width: 40px;
    padding-left: 2px;
    transform: translate(2px, 0px);
}
.glass{
    background-color: #BCDAEA;
    width: 40px;
    height: 75px;
    border-radius: 0px 50px 30px 0px;
}
.base{
    background-color: #CCE70B;
    width: 230px;
    height: 10px;
    position: absolute;
    z-index: 1;
}
.wheel{
    display: flex;
}
.wheel_back{
    display: flex;
    position: absolute;
    transform: translateX(20px);
    z-index: 0;
}
.wheel_font{
    position: absolute;
    display: flex;
    transform: translateX(150px);
    z-index: 0;
}

.wheel_l{
    background-color: #B3B3B3;
    width: 14px;
    height: 30px;
    border-radius: 15px 0px 0px 15px;
    padding-right: 1px;
}
.wheel_r{
    background-color: #B3B3B3;
    width: 14px;
    height: 30px;
    border-radius: 0px 15px 15px 0px;
    padding-right: 1px;
    transform: translate(3px, 0px);
}